#flash-message{
    min-width: 100%;
    position: fixed;
    top: -100px;
    z-index: 1;
    animation: top 400 ease-in-out;
}

#flash-message > .alert{
    width: 80%;
    text-align: center;
    margin: auto;
}