<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Tasks</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="tasks">Tasks</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="content" data-view="{{ page }}"></div>
    </div>
</body>
<script type="text/javascript" src="js/head.load.min.js"></script>
<script type="text/javascript" src="js/main.js?1">
<script type="text/javascript" src="js/{{page}}_view.js"></script>
</html>