<h1>Edit an existing task</h1>
<p class="lead">Edit the task you chose below.</p>
<hr>

<div class="form-group">
	<p>
		<label class="control-label" for="title">Title</label>
		<textarea class="form-control" id="title" rows="5">{{ title }}</textarea>
	</p>
</div>

<div class="form-group">
	<p>
		<label class="control-label" for="description">Description</label>
		<textarea class="form-control" id="description" rows="5">{{ body }}</textarea>
	</p>
</div>
<div class="col-md-6 text-right">
    <a href="" id="edit" class="btn btn-primary">Edit Task</a>
</div>
