<div id="flash-message">
    <div class="alert alert-{{level}} fade in">
        <button type="button" class="close pull-right" data-dismiss="alert" aria-hidden="true">×</button>
        {{ message }}
    </div>
</div>